<div class="row order-div">
	<h1 style="color: #ed7b09;">
		<small>Order Info</small>
	</h1>
<!--
The same as form_for food_item_orders_path(@food_item) do |f|
-->
<div class="row">
	<div class="col-sm-4">
		<%= form_for [@food_item,Order.new] do |f| %>

		<fieldset class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name,class: 'form-control' %>
		</fieldset>

		<fieldset class="form-group">
			<%= f.label :phome %>
			<%= f.text_field :phone,class: 'form-control' %>
		</fieldset>

		<fieldset class="form-group">
			<%= f.label :address %>
			<%= f.text_field :address,class: 'form-control' %>
		</fieldset>
		
		<fieldset class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email,class: 'form-control' %>
		</fieldset>

		<fieldset class="form-group">
			<%= f.label :quantity %>
			<%= f.text_field :quantity,class: 'form-control' %>
		</fieldset>

		<fieldset class="form-group">
			<%= f.label :coupon_code %>
			<%= f.text_field :coupon_code,class: 'form-control' %>
		</fieldset>

		<%= f.submit "Submit Order",class: 'btn btn-primary' %>
		<% end %>
	</div>
	<div class="col-sm-7">
		<div class="row food-item-row">
			
				<h4 class="card-title title-text" style="color: #0184bc">
					<%= @food_item.name %>
				</h4>
				<p><span style="color: #ef9802;font-size: 1.2em;">Rating:</span> <%=  @food_item.show_rating %>   <%= image_tag asset_path "star-on.png" %></p>
				<p class="card-text price-text" >Price: <%= @food_item.price %> VND</p>
				<p class="card-text"><%= @food_item.description %></p>
				<%= image_tag @food_item.image_url_or_default, alt: @food_item.name,class: "parent-width"  %>
		
		</div>
	</div>
</div>
</div>