<h3 style='color:red;'>ORDER COMPLETED!</h3>
<br>
<div class="order-info">
	<div class="row">
		<div class="col-sm-3"><b>Name:</b></div>
		<div class="col-sm-8"><%= @order.name %></div>
	</div>
	<div class="row">
		<div class="col-sm-3"><b>Email:</b></div>
		<div class="col-sm-8"><%= @order.email %></div>
	</div>
	<div class="row">
		<div class="col-sm-3"><b>Phone:</b></div>
		<div class="col-sm-8"><%= @order.phone %></div>
	</div>
	<div class="row">
		<div class="col-sm-3"><b>Address:</b></div>
		<div class="col-sm-8"><%= @order.address %></div>
	</div>
	<div class="row">
		<div class="col-sm-3"><b>Created at:</b></div>
		<div class="col-sm-8"><%= @order.created_at.strftime("%A, %B %d, %H:%M") %></div>
	</div>
	
</div>
<br>
<h3 style="color:#0896d8;">List order items:</h3>
<table class="table">
	<thead class="thead-inverse">
		<tr>
			<th>#</th>
			<th>Food Name</th>
			<th>Price</th>
			<th>Qunatity</th>
			<th>Total</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td><%= @food_item.name %></td>
			<td><%= number_to_currency(@food_item.price, unit: 'VNĐ', format: "%n %u") %></td>
			<td><%= @order.quantity %></td>
			<td><%= number_to_currency(@food_fee, unit: 'VNĐ', format: "%n %u") %></td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Delivery fee</td>
			<td></td>
			<td></td>
			<td><%= number_to_currency(@delevery_fee, unit: 'VNĐ', format: "%n %u") %></td>
		</tr>
		<tr style="background-color: #2b9ace; color:white;">
			<th scope="row"></th>
			<td><b>TOTAL:</b></td>
			<td></td>
			<td></td>
			<td><b><%= number_to_currency(@total, unit: 'VNĐ', format: "%n %u") %></b></td>
		</tr>
	</tbody>
</table>

<div>
	<% if @isDiscount  %>
	<h6 style="color:white;background-color: orange;padding: 10px;">Your order was discounted to 50%</h6 >
		<% end %>
	</div>